---
layout: null
---
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.title }} Team">

    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{ site.url }}/img/header.jpg">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.twitter }}">
    <meta name="twitter:creator" content="{{ site.twitter }}">
    <meta name="twitter:image" content="{{ site.url }}/img/header.jpg">

    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/openrazer.css">
    <link rel="shortcut icon" href="img/favicon.ico">

    <title>OpenRazer | Open Source Drivers for GNU/Linux</title>
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="50">
    <!-- Sticky Navigation Bar -->
    <div id="nav-menu" class="col-fluid nav-top">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <p hidden id="mini-logo-text"><img class="logo-mini" alt="OpenRazer Logo" src="img/logo.svg"/>OpenRazer</p>
            <nav id="navbar">
                <ul class="nav nav-pills" role="tablist">
                    <li><a href="#features"><span class="fa fa-star"></span>&nbsp; Features</a></li>
                    <li><a href="#devices"><span class="fa fa-keyboard"></span>&nbsp; Devices</a></li>
                    <li><a href="#download"><span class="fa fa-download"></span>&nbsp; Download</a></li>
                    <li><a href="#apps"><span class="fa fa-puzzle-piece"></span>&nbsp; Apps</a></li>
                    <li><a href="#project"><span class="fa-brands fa-github"></span>&nbsp; Links</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="col-fluid">
        <!-- Left whitespace -->
        <div class="col-lg-2"></div>

        <div class="col-lg-8">
            <!-- Header -->
            <div id="header">
                <img id="logo" src="img/logo.svg" alt="OpenRazer Logo"/>
                <h2>OpenRazer</h2>
            </div>

            <!-- About Project -->
            <div id="features" class="section-gap">
                <div class="section">
                    <h3>What is OpenRazer?</h3>
                    <p>A community-led effort to support Razer peripherals on Linux. It consists of:</p>
                    <div class="row-fluid">
                        <div class="row features-grid">
                            <div class="feature">
                                <div class="features-icon"><span class="fa-brands fa-linux fa-5x fa-va"></span></div>
                                <h4>Linux Kernel Module</h4>
                                <p>Written in C. Configured to rebuild on kernel updates (via DKMS)</p>
                            </div>
                            <div class="feature">
                                <div class="features-icon"><span class="fa fa-gears fa-5x fa-va"></span></div>
                                <h4>Daemon</h4>
                                <p>Adding persistence support, battery notifications and turning off brightness on screensaver</p>
                            </div>
                            <div class="feature">
                                <div class="features-icon"><span class="fa-brands fa-python fa-5x fa-va"></span></div>
                                <h4>Python Library</h4>
                                <p>For integration with apps and scripts</p>
                                <p><a href="#apps">View apps ↓</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Features -->
            <div class="section-gap">
                <div class="section">
                    <h3>Features</h3>
                    <p>OpenRazer enables Razer-specific capabilities of the hardware, such as:</p>
                    <div class="row-fluid">
                        <div class="row features-grid">
                            <div class="feature">
                                <div class="features-icon"><span class="fa-brands fa-usb fa-5x fa-va"></span></div>
                                <h4>Hardware Effects</h4>
                                <p>Exposing what's supported on the firmware. Devices retain settings across power cycles*</p>
                            </div>
                            <div class="feature">
                                <div class="features-icon"><span class="fa fa-computer-mouse fa-5x fa-va"></span></div>
                                <h4>Device Functions</h4>
                                <p>Such as brightness, DPI** and polling rate</p>
                            </div>
                            <div class="feature">
                                <div class="features-icon"><span class="fa-regular fa-lightbulb fa-5x fa-va"></span></div>
                                <h4>Addressable RGB</h4>
                                <p>Enable custom lighting via software</p>
                            </div>
                        </div>
                    </div>
                    <p class="gray">* Not supported by all hardware. Plugging the device into a computer running Razer Synapse will reset this state.</p>
                    <p class="gray">** Most mice DPI hardware buttons are not intercepted and continue to use default behaviour/range.</p>
                </div>
            </div>

            <div id="devices" class="section-gap">
                <div class="section">
                    <h3>Devices</h3>
                    <p>Originally written for the BlackWidow Chroma, the driver is now compatible with <strong>{{ site.data.devices | size }} Razer peripherals.</strong></p>

                    <hr>
                    <h4><span class="fa fa-check"></span>&nbsp; Supported Keyboards</h4>
                    <br>
                    <div class="row-fluid">
                        <div class="row devices">
                        {% for device in site.data.devices %}
                            {% if device.type != "keyboard" %}
                                {% continue %}
                            {% endif %}

                            <div id="{{ device.name | replace:' ', '-' }}" class="col-md-3 col-sm-4 col-xs-6 device-icon">
                                <img class="inner" loading="lazy" src="{{ device.image_url }}"/>
                                <h5 class="device-name">{{ device.name }}</h5>
                                <div>
                                    <code>{{ device.vid }}:{{ device.pid }}</code>
                                    {% for alias in device.alias_ids %}
                                    <br><code>{{ alias }}</code>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>

                    <hr>
                    <h4><span class="fa fa-check"></span>&nbsp; Supported Mice</h4>
                    <br>
                    <div class="row-fluid">
                        <div class="row devices">
                        {% for device in site.data.devices %}
                            {% if device.type != "mouse" %}
                                {% continue %}
                            {% endif %}

                            <div id="{{ device.name | replace:' ', '-' }}" class="col-md-3 col-sm-4 col-xs-6 device-icon">
                                <img class="inner" loading="lazy" src="{{ device.image_url }}"/>
                                <h5 class="device-name">{{ device.name }}</h5>
                                <div>
                                    <code>{{ device.vid }}:{{ device.pid }}</code>
                                    {% for alias in device.alias_ids %}
                                    <br><code>{{ alias }}</code>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>

                    <hr>
                    <h4><span class="fa fa-check"></span>&nbsp; Supported Mousemats</h4>
                    <br>
                    <div class="row-fluid">
                        <div class="row devices">
                        {% for device in site.data.devices %}
                            {% if device.type != "mousemat" %}
                                {% continue %}
                            {% endif %}

                            <div id="{{ device.name | replace:' ', '-' }}" class="col-md-3 col-sm-4 col-xs-6 device-icon">
                                <img class="inner" loading="lazy" src="{{ device.image_url }}"/>
                                <h5 class="device-name">{{ device.name }}</h5>
                                <div>
                                    <code>{{ device.vid }}:{{ device.pid }}</code>
                                    {% for alias in device.alias_ids %}
                                    <br><code>{{ alias }}</code>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>

                    <hr>
                    <h4><span class="fa fa-check"></span>&nbsp; Supported Keypads</h4>
                    <p>A third party application is required for key rebinding, such as <a href="https://github.com/sezanzeb/input-remapper/">input-remapper</a>.</p>
                    <br>
                    <div class="row-fluid">
                        <div class="row devices">
                        {% for device in site.data.devices %}
                            {% if device.type != "keypad" %}
                                {% continue %}
                            {% endif %}

                            <div id="{{ device.name | replace:' ', '-' }}" class="col-md-3 col-sm-4 col-xs-6 device-icon">
                                <img class="inner" loading="lazy" src="{{ device.image_url }}"/>
                                <h5 class="device-name">{{ device.name }}</h5>
                                <div>
                                    <code>{{ device.vid }}:{{ device.pid }}</code>
                                    {% for alias in device.alias_ids %}
                                    <br><code>{{ alias }}</code>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>

                    <hr>
                    <h4><span class="fa fa-check"></span>&nbsp; Supported Headphones</h4>
                    <p>Only lighting features are supported. OpenRazer doesn't provide additional audio features.</p>
                    <br>
                    <div class="row-fluid">
                        <div class="row devices">
                        {% for device in site.data.devices %}
                            {% if device.type != "headset" %}
                                {% continue %}
                            {% endif %}

                            <div id="{{ device.name | replace:' ', '-' }}" class="col-md-3 col-sm-4 col-xs-6 device-icon">
                                <img class="inner" loading="lazy" src="{{ device.image_url }}"/>
                                <h5 class="device-name">{{ device.name }}</h5>
                                <div>
                                    <code>{{ device.vid }}:{{ device.pid }}</code>
                                    {% for alias in device.alias_ids %}
                                    <br><code>{{ alias }}</code>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>

                    <hr>
                    <h4><span class="fa fa-check"></span>&nbsp; Other devices that work</h4>
                    <p>Webcams with no lighting features are not supported. Try <a href="https://github.com/soyersoyer/cameractrls">cameractrls</a> to enable HDR and related functionality.</p></p>
                    <br>
                    <div class="row-fluid">
                        <div class="row devices">
                        {% for device in site.data.devices %}
                            {% if device.type == "keyboard" or device.type == "mouse" or device.type == "mousemat" or device.type == "keypad" or device.type == "headset" %}
                                {% continue %}
                            {% endif %}

                            <div id="{{ device.name | replace:' ', '-' }}" class="col-md-3 col-sm-4 col-xs-6 device-icon">
                                <img class="inner" loading="lazy" src="{{ device.image_url }}"/>
                                <h5 class="device-name">{{ device.name }}</h5>
                                <div>
                                    <code>{{ device.vid }}:{{ device.pid }}</code>
                                    {% for alias in device.alias_ids %}
                                    <br><code>{{ alias }}</code>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <br>
                    <h4>Device not listed?</h4>
                    <br>
                    <div class="project-links row">
                        <div class="col-sm-3 col-xs-6 col-sm-offset-1">
                            <a href="https://github.com/openrazer/openrazer/compare/stable...master"><span class="fa fa-3x fa-tasks"></span><br> Check unreleased changes</a>
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <a href="https://github.com/openrazer/openrazer/issues?q=label%3A%22Device+Support%22"><span class="fa fa-3x fa-search"></span><br> Search existing issues and pull requests</a>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <a href="https://github.com/openrazer/openrazer/wiki/Request-support-for-new-device"><span class="fa fa-3x fa-plus"></span><br> Request device support</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="download" class="section-gap">
                <div class="section">
                    <h3>Download</h3>
                    <p>
                        Before installing the driver, you'll need to install a kernel headers package that matches your kernel version.
                        This is because the driver is "out-of-tree" and needs to be compiled for the kernel (using DKMS).
                    </p>
                    <p>
                        For example, Arch has <code>linux-headers</code> and <code>linux-lts-headers</code>.
                        Other distros like Ubuntu/Debian may install them automatically, as the packaging system "recommends" the necessary package.
                    </p>

                    <p>Before using OpenRazer, you'll need to add your user to the <code>plugdev</code> group. In most distributions, this is:</p>
                    <pre>sudo gpasswd -a $USER plugdev</pre>

                    <p>After following the instructions for your distribution below, a system reboot is
                    recommended so the user group is applied, and to load the OpenRazer driver.</p>

                    <p>After successful installation, <a href="#apps">pick an application</a> that makes use of the driver.</p>

                    <hr>
                    <h4>Officially Supported</h4>
                    <p class="gray">Packaged and supported by us!</p>

                    <div class="panel-group" id="distros">

                        <!-- Debian -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#distros" href="#debian">
                                        <img class="distro-logo" src="img/distros/debian.png" alt="Debian Logo"/>&nbsp; Debian
                                    </a>
                                </h4>
                            </div>
                            <div id="debian" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h4><span class="fa fa-cube"></span> openSUSE Build Service</h4>
                                    <p>Instructions and downloadable builds for Debian are <a href="https://software.opensuse.org/download.html?project=hardware%3Arazer&package=openrazer-meta" target="_blank" rel="noopener">available here.</a></p>
                                    <p>After the drivers are installed, please restart the computer.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Fedora -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#distros" href="#fedora">
                                        <img class="distro-logo" src="img/distros/fedora.png" alt="Fedora Logo"/>&nbsp; Fedora
                                    </a>
                                </h4>
                            </div>
                            <div id="fedora" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h4><span class="fa fa-cube"></span> openSUSE Build Service</h4>

                                    <div class="danger">
                                        <h5><span class="fa fa-warning"></span>
                                        Due to a bug in Fedora, the wrong kernel headers (<code style="color:red">kernel-debug-devel</code>) may be installed and cause OpenRazer to fail installation.
                                        </h5>
                                    </div>

                                    <p>To fix this, you must install <code>kernel-devel</code> explictly:</p>
                                    <pre><code><span class="fa fa-dollar"></span> sudo dnf install kernel-devel</code></pre>

                                    <p>Then, proceed to follow the installation instructions for Fedora.</p>

                                    <b>For Fedora run the following:</b>
                                    <pre><code><span class="fa fa-dollar"></span> sudo dnf config-manager --add-repo https://download.opensuse.org/repositories/hardware:/razer/Fedora_$(rpm -E %fedora)/hardware:razer.repo</code>
                                    <code><span class="fa fa-dollar"></span> sudo dnf install openrazer-meta</code></pre>

                                    <b>For Fedora Rawhide run the following:</b>
                                    <pre><code><span class="fa fa-dollar"></span> sudo dnf config-manager --add-repo https://download.opensuse.org/repositories/hardware:/razer/Fedora_Rawhide/hardware:razer.repo</code>
                                    <code><span class="fa fa-dollar"></span> sudo dnf install openrazer-meta</code></pre>

                                    <p>After the drivers are installed, please restart the computer.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Mageia -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#distros" href="#mageia">
                                        <img class="distro-logo" src="img/distros/mageia.png" alt="Mageia Logo"/>&nbsp; Mageia
                                    </a>
                                </h4>
                            </div>
                            <div id="mageia" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h4><span class="fa fa-cube"></span> openSUSE Build Service</h4>
                                    <p>Instructions and downloadable builds for Mageia are <a href="https://software.opensuse.org/download.html?project=hardware%3Arazer&package=openrazer-meta" target="_blank" rel="noopener">available here.</a></p>
                                    <p>After the drivers are installed, please restart the computer.</p>
                                </div>
                            </div>
                        </div>

                        <!-- openSUSE -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#distros" href="#opensuse">
                                        <img class="distro-logo" src="img/distros/opensuse.png" alt="OpenSUSE Logo"/>&nbsp; openSUSE
                                    </a>
                                </h4>
                            </div>
                            <div id="opensuse" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h4><span class="fa fa-cube"></span> openSUSE Build Service</h4>
                                    <p>Instructions and downloadable builds for openSUSE are <a href="https://software.opensuse.org/download.html?project=hardware%3Arazer&package=openrazer-meta" target="_blank" rel="noopener">available here.</a></p>
                                    <p>After the drivers are installed, please restart the computer.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Ubuntu -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#distros" href="#ubuntu">
                                        <img class="distro-logo" src="img/distros/ubuntu.png" alt="Ubuntu Logo"/>
                                        &nbsp; Ubuntu / Linux Mint / elementaryOS / Pop!_OS / Zorin OS
                                    </a>
                                </h4>
                            </div>
                            <div id="ubuntu" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h4><span class="fa fa-cube"></span>&nbsp; From the PPA via the Terminal</h4>
                                    <p>This will keep the drivers up-to-date when new versions are released.</p>

                                    <p>If you're using elementaryOS, you'll need to install a prerequisite first:</p>
                                    <pre><code><span class="fa fa-dollar"></span> sudo apt install software-properties-gtk</code></pre>

                                    <p>To install the recommended stable builds:</p>
                                    <pre><code><span class="fa fa-dollar"></span> sudo add-apt-repository ppa:openrazer/stable</code></pre>

                                    <p>Alternately, if you wish to use the latest development builds, use <code>daily</code> instead -- <strong>use at your own risk!</strong></p>
                                    <pre><code><span class="fa fa-dollar"></span> sudo add-apt-repository ppa:openrazer/daily</code></pre>

                                    <p>After adding the PPA, install the packages:</p>
                                    <pre><code><span class="fa fa-dollar"></span> sudo apt update</code>
                                    <code><span class="fa fa-dollar"></span> sudo apt install openrazer-meta</code></pre>
                        <p><strong>NOTE:</strong> If you get dependency errors when trying to install the driver packages please make sure that you have enabled the "universe" repository in <strong>Software & Updates</strong></p>

                                    <p>After the drivers are installed, please restart the computer.</p>

                                    <p>This PPA supports these versions:</p>
                                    <ul>
                                        <li>Ubuntu 16.04 "Xenial" and newer</li>
                                        <li>Linux Mint 18 "Sarah" and newer</li>
                                        <li>elementaryOS 0.4 "Loki" and newer</li>
                                    </ul>
                                    <hr>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <h4>Community Supported</h4>
                        <p class="gray">Packaged and supported by the wider community.</p>

                        <!-- Arch -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#distros" href="#arch">
                                        <img class="distro-logo" src="img/distros/arch.png" alt="Arch Logo"/>
                                        &nbsp; Arch Linux / Manjaro
                                    </a>
                                </h4>
                            </div>
                            <div id="arch" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h4><span class="fa fa-cube"></span>&nbsp;Using pacman</h4>
                                    <p>
                                        Packages are available in the official repos:
                                        <ul>
                                            <li><a href="https://archlinux.org/packages/?q=openrazer">https://archlinux.org/packages/?q=openrazer</a></li>
                                        </ul>
                                    </p>
                                    <p>To install:</p>
                                    <pre><code><span class="fa fa-dollar"></span> sudo pacman -S openrazer-daemon</code></pre>
                                    <p>After the drivers are installed, please restart the computer.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Gentoo -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#distros" href="#gentoo">
                                        <img class="distro-logo" src="img/distros/gentoo.png" alt="Gentoo Logo"/>&nbsp; Gentoo
                                    </a>
                                </h4>
                            </div>
                            <div id="gentoo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h4><span class="fa fa-cube"></span> Gentoo ebuild</h4>
                                    <p>To install:</p>
                                    <pre><code><span class="fa fa-dollar"></span> emerge -av --autounmask sys-apps/openrazer</code></pre>
                                    <p>After the drivers are installed, please restart the computer.</p>
                                </div>
                            </div>
                        </div>

                        <!-- NixOS -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#distros" href="#nixos">
                                        <img class="distro-logo" src="img/distros/nixos.png" alt="NixOS Logo"/>&nbsp; NixOS
                                    </a>
                                </h4>
                            </div>
                            <div id="nixos" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h4><span class="fa fa-cube"></span> NixOS Module</h4>
                                    <p>To enable the OpenRazer module in NixOS, add this snippet to your <code>configuration.nix</code>:</p>
                                    <pre><code>hardware.openrazer.enable &equals; true&semi;</code></pre>
                                    <div class="danger">
                                        <h5>
                                        <span class="fa fa-warning"></span>
                                        In order to run the openrazer-daemon service, your user needs to be part of the <code>openrazer</code>
                                        group.
                                        </h5>
                                    </div>
                                    <pre><code>hardware.openrazer.users = [&quot;&lt;name&quest;&gt;&quot;]&semi;</code></pre>
                                    <p>Rebuild your NixOS configuration:</p>
                                    <pre><code><span class="fa fa-dollar"></span> sudo nixos-rebuild switch</code></pre>
                                    <h4>nix-shell</h4>
                                    <pre><code><span class="fa fa-dollar"></span> nix-shell -p openrazer-daemon</code></pre>
                                    </div>
                                </div>
                        </div>

                        <!-- Red Hat / CentOS -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#distros" href="#redhat">
                                        <img class="distro-logo" src="img/distros/redhat.png" alt="Red Hat Logo"/>&nbsp; Red Hat / CentOS
                                    </a>
                                </h4>
                            </div>
                            <div id="redhat" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h4><span class="fa fa-cube"></span> Repository provided by <a href="https://github.com/moozhub">moozhub</a></h4>
                                    <p>
                                        Please follow the instructions from this repository:
                                        <ul>
                                            <li><a href="https://github.com/moozhub/yum-repo-mooz">https://github.com/moozhub/yum-repo-mooz</a></li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Solus -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#distros" href="#solus">
                                        <img class="distro-logo" src="img/distros/solus.png" alt="Solus Logo"/>&nbsp; Solus
                                    </a>
                                </h4>
                            </div>
                            <div id="solus" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h4><span class="fa fa-cube"></span> Using eopkg</h4>
                                    <p>To install:</p>
                                    <pre><code><span class="fa fa-dollar"></span> sudo eopkg install openrazer</code></pre>
                                    <p>After the drivers are installed, please restart the computer.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Slackware -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#distros" href="#slackware">
                                        <img class="distro-logo" src="img/distros/slackware.png" alt="Slackware Logo"/>&nbsp; Slackware
                                    </a>
                                </h4>
                            </div>
                            <div id="slackware" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h4><span class="fa fa-cube"></span> SlackBuilds.org</h4>
                                    <p>Packages are available at the following URLs:</p>
                                    <p>
                                        <ul>
                                            <li>
                                                <a href="https://www.slackbuilds.org/repository/15.0/system/openrazer-kernel/">
                                                    https://www.slackbuilds.org/repository/15.0/system/openrazer-kernel/
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.slackbuilds.org/repository/15.0/system/openrazer-daemon/">
                                                    https://www.slackbuilds.org/repository/15.0/system/openrazer-daemon/
                                                </a>
                                            </li>
                                        </ul>
                                    </p>
                                    <p>For details on how to install, see the <a href="https://www.slackbuilds.org/howto/">SlackBuilds.org FAQ</a>.</p>
                                    <p>After the drivers are installed, please restart the computer.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Void Linux -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#distros" href="#voidlinux">
                                        <img class="distro-logo" src="img/distros/voidlinux.png" alt="Void Linux Logo"/>&nbsp; Void Linux
                                    </a>
                                </h4>
                            </div>
                            <div id="voidlinux" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h4><span class="fa fa-cube"></span> Void Linux</h4>
                                    <p>
                                        We have packages for Void Linux:
                                        <a href="https://github.com/void-linux/void-packages/blob/master/srcpkgs/openrazer-meta/template"><code>openrazer-meta</code></a>,
                                        <a href="https://github.com/void-linux/void-packages/blob/master/srcpkgs/openrazer-daemon"><code>openrazer-daemon</code></a>,
                                        <a href="https://github.com/void-linux/void-packages/blob/master/srcpkgs/openrazer-driver-dkms"><code>openrazer-driver-dkms</code></a>, and
                                        <a href="https://github.com/void-linux/void-packages/blob/master/srcpkgs/python3-openrazer"><code>python3-openrazer</code></a>
                                    </p>
                                    <p>To install:</p>
                                    <pre><code><span class="fa fa-dollar"></span> xbps-install -S openrazer-meta</code></pre>
                                    <p>After the drivers are installed, please restart the computer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Applications -->
            <div id="apps" class="section-gap">
                <div class="section">
                    <h3>Applications</h3>
                    <p>These projects integrate with OpenRazer:</p>
                    <div class="row-fluid">
                        <div class="row features-grid apps">
                            <div class="feature">
                                <a href="https://polychromatic.app">
                                    <img src="/img/apps/polychromatic.svg"/>
                                    <h4>Polychromatic</h4>
                                </a>
                                <p class="gray">
                                    GUI (PyQt5)
                                    <br>Tray Applet
                                    <br>CLI
                                </p>
                            </div>
                            <div class="feature">
                                <a href="https://github.com/z3ntu/RazerGenie">
                                    <img src="/img/logo.svg"/>
                                    <h4>RazerGenie</h4>
                                </a>
                                <p class="gray">GUI (Qt5)</p>
                            </div>
                            <div class="feature">
                                <a href="http://bithatch.co.uk/snake.html">
                                    <img src="/img/apps/snake.png"/>
                                    <h4>Snake</h4>
                                </a>
                                <p class="gray">GUI (Java)</p>
                            </div>
                            <div class="feature">
                                <a href="https://gitlab.com/gabmus/razerCommander">
                                    <img src="/img/apps/razerCommander.png"/>
                                    <h4>razerCommander</h4>
                                </a>
                                <p class="gray">GUI (GTK)</p>
                            </div>
                            <div class="feature">
                                <a href="https://github.com/lolei/razer-cli">
                                    <span class="fa fa-3x fa-terminal"></span>
                                    <h4>razer-cli</h4>
                                </a>
                                <p class="gray">CLI (Python)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="project" class="section-gap">
                <div class="section">
                    <h3>Project</h3>
                    <div class="project-links row">
                        <div class="col-sm-2 col-xs-6 col-sm-offset-1">
                            <a href="https://github.com/openrazer/openrazer"><span class="fa-brands fa-3x fa-github"></span><br> View on GitHub</a>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <a href="https://github.com/openrazer/openrazer/issues"><span class="fa fa-3x fa-exclamation-circle"></span><br> Issues</a>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <a href="https://github.com/openrazer/openrazer/wiki/Troubleshooting"><span class="fa-regular fa-3x fa-question-circle"></span><br> Troubleshooting</a>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <a href="https://github.com/openrazer/openrazer/wiki"><span class="fa fa-3x fa-book-open"></span><br> Wiki</a>
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <a href="https://github.com/openrazer/openrazer/graphs/contributors"><span class="fa fa-3x fa-users"></span><br> Contributors</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right whitespace -->
        <div class="col-lg-2"></div>

        <!-- Footer -->
        <div class="col-lg-8 col-lg-offset-2">
            <footer>
                <div class="footer-text">
                    <p>
                        This project is licensed under the <a href="https://github.com/openrazer/openrazer/blob/master/LICENSES/GPL-2.0-or-later.txt">GPLv2</a>.
                        It is <u>not affiliated</u> with <a href="https://www.razerzone.com/">Razer Inc</a>.
                    </p>
                    <p>
                        Brought to you by <a href="https://github.com/terrycain">terrycain</a>,
                        <a href="https://github.com/z3ntu">z3ntu</a>,
                        plus the help of many <a href="https://github.com/openrazer/openrazer/graphs/contributors">contributors</a> and testers.
                    </p>
                </div>
                <div class="social-links">
                    <a class="social" href="https://fosstodon.org/@openrazer" title="OpenRazer on Mastodon" rel="me">
                        <img src="img/social/mastodon.svg" alt="Mastodon logo"/>
                    </a>
                    <a class="social" href="https://twitter.com/openrazer" title="OpenRazer on Twitter">
                        <img src="img/social/twitter.svg" alt="Twitter logo"/>
                    </a>
                    <a class="social" href="https://t.me/joinchat/AMhHjj9Txhkhn8JM5_LeMg" title="Join OpenRazer Telegram Group">
                        <img src="img/social/telegram.svg" alt="Telegram logo"/>
                    </a>
                    <a class="social" href="https://matrix.to/#/#openrazer:matrix.org" title="Join us on Matrix">
                        <img src="img/social/matrix.svg" alt="Matrix logo"/>
                    </a>
                </div>
            </footer>
        </div>
    </div>

    <!-- Scripts -->
    <script src="js/jquery-2.2.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/openrazer.js"></script>

</body>
</html>
